<!-- Steen Hegelund -->
<!-- vim: set ts=2 sw=2 sts=2 tw=120 cc=120 et ft=html :-->

<!doctype html>
<html lang="en">
  <head>
    <title>NetNext Futuroscope</title>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/favicon.png">
  </head>
  <body>

    <div class="container-fluid p-5 text-center bg-image" style="background-image: url('images/background.jpg'); height: 10vh">
      <h1>NetNext Futuroscope</h1>
    </div>
    <div class="container-fluid p-5 text-center">
      <h2 class="lead">See the last NetNext cycles and get a prediction of when the next 3 cycles will open and close</h2>
        <h3 class="lead">
          Updated: {{ generated.strftime("%d-%b-%Y %H:%M %Z") }}
        </h3>
    </div>

    <div class="container mt-5">
      <div class="row bg-dark text-white text-center">
        <div class="col">
          <strong>Open date</strong>
        </div>
        <div class="col">
          <strong>Open days</strong>
        </div>
        <div class="col">
          <strong>Closing date</strong>
        </div>
        <div class="col">
          <strong>Closed days</strong>
        </div>
        {% if linux_versions %}
        <div class="col">
          <strong>In Linux Version</strong>
        </div>
        {% endif %}
      </div>
      {% for cycle in cycles %}
        {% if cycle.day1 <= generated.date() and generated.date() < cycle.day2 %}
          <div id="current" class="row text-bg-success text-center">
          {% elif cycle.day2 <= generated.date() and generated.date() < cycle.day3 %}
          <div id="current" class="row text-bg-danger text-center">
          {% else %}
          <div class="row text-bg-light text-center">
          {% endif %}
            <div class="col">
              {{ cycle.day1.strftime("%d-%b-%Y") }}
            </div>
            <div class="col">
              {{ cycle.open.days }}
            </div>
            <div class="col">
              {{ cycle.day2.strftime("%d-%b-%Y") }}
            </div>
            <div class="col">
              {{ cycle.closed.days }}
            </div>
            {% if linux_versions %}
              <div class="col">
                {{ cycle.version }}
              </div>
            {% endif %}
          </div>
      {% endfor %}
    </div>
    <footer class="fixed-bottom">
      <div class="containerfluid">
        <span class="bg-light text-center">Steen Hegelund - 7-Nov-2022</span>
      </div>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("current").scrollIntoView();
      });
    </script>
  </body>
</html>
