[Unit]
Description=Net Next Predict Timer

[Timer]
Unit=netnextpredict.service
OnCalendar=*-*-* 23:01:00
Persistent=True

[Install]
WantedBy=timers.target

