[Unit]
Description=Net Next Status Storing Service

[Service]
Type=oneshot
ExecStart=/home/steen/src/proj/devtools/netnextstat/netnextstat.py /home/steen/.local/share/netnextstatus/status.csv

