[Unit]
Description=Net Next Install Update Service

[Timer]
Unit=netnextinstall.service
OnCalendar=*-*-* 23:02:00
Persistent=True

[Install]
WantedBy=timers.target

