[Unit]
Description=Net Next Prediction Generation Service

[Service]
Type=oneshot
ExecStart=%h/src/proj/pytools/netnextstat/netnextpredict.py -r %h/src/net-next %h/.local/share/netnextstatus/status.csv -g -o %h/netnext
