[Unit]
Description=Net Next Install Update Service

[Timer]
OnBootSec=6m
OnUnitActiveSec=24h
Unit=netnextinstall.service

[Install]
WantedBy=timers.target

