[Unit]
Description=User Lockscreen Wallpaper Change Timer

[Timer]
OnBootSec=2m
OnUnitActiveSec=24h
Unit=user_lockscreen.service

[Install]
WantedBy=timers.target

