# Steen Hegelund
# Time-Stamp: 2019-Dec-14 16:39
# You can copy this to ~/.config/systemd/user
#
[Unit]
Description=User Lockscreen Wallpaper Change Service

[Service]
Type=oneshot
ExecStart=/home/steen/src/python/devtools/wallpapers/wallpapers.py -x 1920 -y 1200 -p -l -r /opt/wallpapers

