[Unit]
Description=Wallpaper Change service

[Service]
Type=oneshot
ExecStart=/home/steen/src/python/devtools/wallpapers/wallpapers.py -p -w -r /opt/wallpapers
ExecStartPost=feh --bg-fill /opt/wallpapers/i3wallpaper.jpg

